/*
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges !1!
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
!1!
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default !1!
input,
select,
textarea {
    max-width: 280px;
}
*/

header.black-bg {
    border-bottom: none;
    background: lightblue;
}

#sidebar {
    background: slategray;
}

.site-footer {
    background: lightblue;
}

ul.sidebar-menu li a {
    color: aliceblue;
}

ul.top-menu > li > .logout {
        -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
    background: cornflowerblue;
    border: none !important;    
}

input, select, button, .btn {
    -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
    
}

input, select {
    max-width: 400px;
}

.top-menu-item {
    
  color: #f2f2f2;
  font-size: 12px;
    border: none;
  padding: 5px 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}