@using System.ComponentModel
@using ASP_Video_Website.Services

<li class="mt">
    <span style="color: whitesmoke">CATEGORIES</span>
</li>

<li class="sub-menu">
    <a href="@Url.Action("Videos", "Manage")">
        <span>Videos</span>
    </a>
</li>
<li class="sub-menu">
    <a href="@Url.Action("Pending","Manage")">
        <span>Pending</span>
    </a>
</li>