
@{
    ViewBag.Title = "Display";
}

<h2>Movie</h2>

<center>
    <h1>Demo Page for videowebsite.apphb.com</h1>
    <div id="wrapper">
        <div id="player"></div>
    </div>
</center>



<script src="~/Scripts/bitdash.min.js"></script>


<script type="text/javascript">
    var conf = {
        key: "a688fd4642b4ff1f7fc403315975d07b",
        source: {
            // mpd: "file/sintel.mpd",
            mpd: "@Url.Action("MediaSegment", "File", new { id = @ViewBag.MediaId, filename = "video.mpd" },Request.Url.Scheme)",
            progressive: "@Url.Action("MediaFile", "File", new { id = @ViewBag.MediaId, filename = "mobile.mp4" },Request.Url.Scheme)"
        },
        playback: {
            autoplay: true,
            muted: false
        },
        style: {
            width: '600px',
            height: '250px'
        },
        events: {
            onError: function (data) {
                console.error("bitdash error: " + data.code + ": " + data.message);
            },
            onReady: function (obj) {
                console.log(this.getVersion() + ' onReady: ', obj);
            }
        }
    };

    var player = bitdash("player").setup(conf);
</script>