
@{
    ViewBag.Title = "Movie";
}



<center>
    <h1>@ViewBag.Title</h1>
    <br/>
    <div id="wrapper">
        <div id="player"></div>
    </div>
    <h5>@ViewBag.Description</h5>
</center>

 

<script src="~/Scripts/bitdash.min.js"></script>


<script type="text/javascript">
    var conf = {
        key: "e927d1c047b38fae8a033baaa70ae438",
        source: {
            // mpd: "file/sintel.mpd",
            mpd: "file/sintel.mpd",
            progressive: "file/sintel.mp4"
        },
        playback: {
            autoplay: true,
            muted: false
        },
        style: {
            width: '600px',
            height: '250px'
        },
        events: {
            onError: function (data) {
                console.error("bitdash error: " + data.code + ": " + data.message);
            },
            onReady: function (obj) {
                console.log(this.getVersion() + ' onReady: ', obj);
            }
        }/*,
        tweaks: {
            tryfirst: 'flash'
        }*/
    };

    var player = bitdash("player").setup(conf);
</script>