
@{
    ViewBag.Title = "Mp4";
}

<h2>Mp4</h2>

<video width="320" height="240" controls>
    <source src="file/sintel_working.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>


@*<link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
<script src="//vjs.zencdn.net/4.12/video.js"></script>
<script>
    videojs.options.flash.swf = "~/Scripts/video-js.swf"
</script>

<video id="example_video_1" class="video-js vjs-default-skin"
       controls preload="auto" width="640" height="264"
       poster="http://video-js.zencoder.com/oceans-clip.png"
       data-setup='{"example_option":true}'>
    <source src="fhttp://bitcdn-global1.bitmovin.com/content/sintel/Sintel.mp4" type='video/mp4' />
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>*@