
@{
    ViewBag.Title = "Videos";
}

<h2>Videos</h2>

<video width="320" height="240" controls autoplay="autoplay">
    <source src="@Url.Action("Video","Media")" type="video/mp4">
</video>
MediaFiles